body {
    background: url('https://365psd.ru/images/backgrounds/line-pat-003.jpg');
}

a {
	color:#FFFF00;
	text-decoration: none;
}

h1 {
  color:#FFFF00;
  text-decoration: none;
}

figcaption{
  color:#FFFF00;
  width: 425px;
}

